/*html,*/
/*body {*/
/*  margin: 0;*/
/*}*/

/*#App {*/
/*  font-family: sans-serif;*/
/*  height: 100vh;*/
/*}*/


.header_mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 10;
    display: none;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #17181b;
}

.header_mobile h2 {
    color: #fff;
    text-transform: uppercase;
    line-height: 50px;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 0;
    font-size: 1.2rem;
}

.wrap-burger {
    width: 200px;
}

#page-wrap {
    text-align: center;
    overflow: auto;
    top: 45%;
    position: relative;
}

.bm-item {
    display: inline-block;

    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
}

.bm-item:hover {
    color: white;
}

.bm-menu-wrap {
    max-width: 235px;
}

.bm-burger-button {
    position: fixed;
    display: none;
    width: 34px;
    height: 28px;
    left: 20px;
    top: 12px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #fff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    width: 45px !important;
    height: 50px !important;
    right: -10px !important;
    top: 0px !important;
    background-color: #17181b;
}

.bm-cross-button span {
    top: 9px !important;
    right: 10px !important;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #fff;
}

/* General sidebar styles */
.bm-menu {
    background: #000;
    font-size: 1.15em;
    width: 200px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #2c2d2f;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
    .header_mobile {
        display: block;
    }

    .bm-burger-button {
        display: block;
    }

    .deskTop {
        display: none;
    }
}

@media (max-width: 576px) {
    .header_mobile {
        display: block;
    }
}