@import "src/common/style/scss/variable";

.homeBlock {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primary-color;
    opacity: .5;
  }

  .name {
    color: $color-text-hover;
    z-index: 10;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-top: 80px;

    span {
      color: $second-color;
    }

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  .staticText {
    color: $color-text-hover;
    z-index: 10;
    font-size: 1.2rem;
  }

  .typingText {
    color: $color-text-hover;
    z-index: 10;
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: 2px solid $second-color;
  }

}




