@import "../../common/style/scss/variable";

.navContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #17181b;
  max-width: 200px;
  position: fixed;
  z-index: 20;

  .imgBlock {
    max-width: 200px;
    width: 100%;
    background-color: #3f4144;
    object-fit: cover;
    max-height: 200px;
    position: relative;

    .name {
      color: #ffffff;
      position: absolute;
      bottom: 0px;
      white-space: nowrap;
      width: 100%;
      text-align: center;
      padding: 5px 0;
      background-color: $second-color;

      opacity: .8;
      text-shadow: 0 2px 10px rgb(0 0 0 / 50%);
      font-size: 1rem
    }
  }

  @media (max-width: 767px) {
    display: none;
  }
}