@import "../../common/style/scss/variable";
@import "../../common/style/mixin/mixin";

.about {
  @include flex(space-between, row, start);

  .textBox {
    font-size: 16px;
    line-height: 1.65;
    color: $color-text-page;
    margin-right: 40px;
    padding-right: 20px;
    max-width: 750px;
  }

  .title {
    border-bottom: 2px solid $second-color;
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    position: relative;
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 1px;
    color: $color-text-page;

    &:before {
      content: ':';
      position: absolute;
      top: 0;
      right: -10px;
    }
  }

  .aboutInfo {
    width: 350px;


    & ul li {
      margin-bottom: 20px;
      white-space: nowrap;
      @media (min-width: 986px) and (max-width: 1038px) {
        white-space: pre-wrap;
      }


    }

    & ul li:nth-child(4) .value {
      @media (max-width: 576px) {
        display: block;
      }
    }

    .value {
      color: $color-text-page;
      font-family: 'Playfair Display', serif;
      font-size: 1.1rem;
      font-weight: 600;
      letter-spacing: 1.5px;
    }
  }

  @media (max-width: 986px) {
    @include flex(space-between, column, start);
  }
}
